<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-tab-button style="padding-left: 10px" (click)="back()">
      <ion-icon style="color: white;" name="arrow-back-outline"></ion-icon>
    </ion-tab-button>
  </ion-buttons>
</ion-toolbar>

<ion-content color="primary" style="text-align: center;">
  <p style="margin-top: 50%;">BIENVENUE</p>
  <h1 style="font-weight: 900;">CHAUFFEUR</h1>
  <ion-card>
    <!-- <ion-card-header>
      <h3>Login</h3>
    </ion-card-header> -->
    <ion-card-content style="text-align: center;">
      <p style="margin-top: 5px; color: black !important;">Mot de passe oublié?</p>
      <form [formGroup]="emailForm" (ngSubmit)="newPassword()">
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="text" required></ion-input>
        </ion-item>
        <ng-container *ngIf="errorMessage">
          <h6 id="alert">
            {{errorMessage}}
          </h6>
        </ng-container>

        <ion-row>
          <ion-col>
            <!-- <ion-button value="Connexion" color="primary" type="submit"> S'identifier
            </ion-button> -->
            <input type="submit" value="Confirmer" color="primary">
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
