<ion-tabs color="medium">
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="tab0" tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab0" tab="collecte-detail">
      <ion-icon name="enter"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab0" tab="livraison/all">
      <ion-icon name="exit"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab0" (click)="reload()">
      <ion-icon name="refresh-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab0" (click)="logout()">
      <ion-icon name="power"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
